body {
    background-color: darkblue;
}


h2 {
    text-align: center;
    text-decoration: underline;
    color: white;
}

video {
    width: 50%;
    height: 50%;
    position: absolute;
    margin-left: 25%;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
}